input, button {
    -webkit-app-region: no-drag;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; 
}

.mainView {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-app-region: drag;
}

.contentView {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: #F6F6F6;
}

.contentHeader {
    display: flex;
    flex-direction: column-reverse;
    height: 30px;
    width: 100%;
    background: #FBFBFB;
}

.dividing_line {
    width: 100%;
    height: 1px;
    background:#dfdfdf;
    text-align: center;
}


.dividing_line_column {
    width: 1px;
    height: 100%;
    background:#dfdfdf;
    text-align: center;
}

.contentTitleContent {
    display: flex;
    height: 100%;
    width: 100%;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.contentFooter {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 60px;
    width: 100%;
}

.contentBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.content {
    height: auto;
    width: 100%;
    margin-top: 10px;
    background: #EEEEEE;
    border-radius: 5px;
    border-width: 1px;
    border-color: #E4E4E4;
    border-style: solid;
    position: relative;
}

.content_header_text {
    color: #18191c;
    font-size: 13px;
    font-weight: bold;
    display: absolute;
    line-height: 100%;
}

.input_item_parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: auto;
}

.input_item_text {
    color: #202327;
    font-size: 13px;
    margin-right: 8px;
    line-height: 100%;
    height: auto;
    width: 50px;
    text-align: right;
}

.input_unit_text {
    color: #202327;
    font-size: 13px;
    margin-left: 8px;
    line-height: 100%;
    height: auto;
    width: 40px;
}

.button, .buttonStress {
    border: 1px solid #eeeeee;
    text-align: center;
    width: auto;
    height: 23px;
    margin-left: 15px;
    margin-right: 7px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: normal;
    padding: 1px 10px 1px 10px;
}

.button {
    background: white;
    color: black;
}

.button:active {
    outline: none;
    background: #0676E8;
    color: white;
}

.button:focus {
    outline: none;
}

.buttonStress {
    background: #1F8CFC;
    color: white;
}

.buttonStress:active {
    outline: none;
    background: #0676E8;
}

.buttonStress:focus {
    outline: none;
}


.input_parent {
    display: flex;
    align-items: center;
    height: 25px;
    width: auto;
}

.input_parent_middle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 120px;
}

.input {
    border: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: #E4E4E4 #E4E4E4 #BCBCBC #E4E4E4;
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
}

.input:focus {
    border-radius: 2px;
    border-width: 3px;
    border-color: #7BAFF3;
}

.menu {
    position: absolute;
    height: 24px;
    width: 150px;
    /* background: yellow; */
    margin: auto;
    display: flex;
    flex-direction: row;
    border: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #DEDEDE;
    background: #EEEEEE;
    padding: 0px;
}

.menuElement {
    width: 50px;
    height: 100%;
    background: white;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #CBCBCB;
    text-align: center;
    font-size: 13px;
    line-height: 100%;
    align-items: center;
    outline: none;
}

.menuElementUnselected {
    width: 50px;
    height: 100%;
    background: transparent;
    border-width: 0px;
    text-align: center;
    font-size: 13px;
    line-height: 100%;
    align-items: center;
    outline: none;
}

.separator {
    width: 1px;
    height: 60%;
    margin: auto;
    background-color: #CBC9CB;
}

.titleView {
    width: 70px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    -webkit-app-region: no-drag;
}

/* 关闭最小化按钮*/
.titleElementButton, .titleElementCloseButton {
    display: flex;
    width: 35px;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 0px;
    outline: 0px;
    background: transparent;
}

.titleElementButton:hover {
    background: rgba(0, 0, 0, 0.1);
}

.titleElementButton:active {
    background: rgba(0, 0, 0, 0.2);
}

.titleElementCloseButton:hover {
    background: #e81123;
}

.titleElementCloseButton:active {
    background: #bf0f1d;
}

.titleElementCloseButton:hover,.titleElementCloseButton:active .titleCloseElement{
    fill: white;
}

.titleElement, .titleCloseElement {
    width: 18px;
    height: 18px;
}

.pageContentParent {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.pageContentLeft {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pageContentRight {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchFieldParent {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchField {
    width: 80%;
    height: 28px;
    position: relative;
}

.searchField input{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    border-color: #C8C6C8;
    background-size: 15px 15px;
    background-position: 8px 6px;
    background-repeat: no-repeat;
    padding: 5px 28px 5px 30px;
}

.searchField input::placeholder {
    color: #ADABAD;
}

.searchField button {
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 5px;
}

.searchField button img{
    width: 13px;
    height: 13px;
}

.searchField input:focus{
    border-color: #79ABF1;
    outline-width: 0px;
    box-shadow: 0 0 0 3px #79ABF1;
}

.radioFieldParent {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.radioFieldParent > p {
    font-size: 14px;
    text-align: right;
    width: 40%;
    height: 20px;
    line-height: 18px;
}

.radioFieldParent > div {
    width: 5%;
}

.radioField {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.radioField button {
    width: 100%;
    height: 20px;
    border-width: 0px;
    background-color: transparent;
    outline: none;
    display: flex;
    flex-direction: row;
}

.radioField button img{
    width: 18px;
    height: 18px;
}

.radioField button > p {
    font-size: 13px;
    text-align: left;
    height: 100%;
    line-height: 19px;
    padding-left: 5px;
}

.radioField button:active img {
    filter: brightness(70%);
}

.resultListParent {
    width: 80%;
    height: 80%;
    background: white;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-color: #e3e3e3;
    border-radius: 0px;
}

.resultListHeaderParent {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    border: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #DEDEDE;
    align-items: center;
}

.resultListHeaderParent p {
    width: 100px;
    font-size: 13px;
    text-align: center;
}

.resultListContentParent {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
}

.valueList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.valueListItemLight {
    width: 100;
    height: 18px;
    display: flex;
    flex-direction: row;
    background-color: #F8F8F8;
}

.valueListItemGray {
    width: 100;
    height: 18px;
    display: flex;
    flex-direction: row;
    background-color: #F4F5F5;
}

.valueListItemText {
    width: 100px;
    font-size: 13px;
    text-align: left;
    padding-left: 8px;
}

.dividing_line_column_dark {
    width: 1px;
    height: 100%;
    background: #bbbbbb;
    text-align: center;
}

/* @media (prefers-color-scheme: dark) { 
    
  }  */